<%#添加分类%>
<div class="product_container clr">
    <div class="title">
        <h1>添加分类</h1>
    </div>
    <div class="form_product_content">
        <%= simple_form_for(@sort) do |f| %>
            <%= f.input :name, label: "分类" %>
            <%= f.submit %>
        <% end %>
    </div>
    <div class="form_product_content">
        <table class="table">
            <thead>
                <tr>
                    <td>名称</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
            <% @sorts.each do |sort| %>
                <tr>
                    <td><%= sort.name %></td>
                    <td>
                        <%= link_to "添加产品", new_sort_product_path(sort) %>
                        <%= link_to "删除分类", sort_path(sort),method: "delete", data: { confirm: "确认删除" }  %>
                    </td>
                    <td>
                        <% sort.products.each do |product| %>
                            <ul>
                                <li>
                                  <%= product.name %>
                                  <%= link_to "编辑", edit_sort_product_path(sort,product) %>
                                   <%= link_to "删除", sort_product_path(sort,product), method: "delete", data: { confirm: "确认删除" }  %>
                                </li>
                            </ul>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>